@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

html {
    box-sizing: border-box;
    font-size: 62.5%;
    text-transform: lowercase;
    font-family: "Raleway", Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
  }
::-webkit-scrollbar-track {
background: rgb(133, 133, 133, 0);
}
::-webkit-scrollbar-thumb {
background: #888;
}
::-webkit-scrollbar-thumb:hover {
background: #555;
}

body {
    margin: 0;
    background: #111;
}

h1 {
    font-size: 12rem;
}

h2 {
    font-size: 5rem;
}

p,
span,
li {
    font-size: 1.6rem;
    line-height: 1;
    list-style: none;
}


.weather-app {
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 2rem;
    color: #fff;
    position: relative;
    transition: 500ms;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem 3rem 4rem 3rem;
}

.title {
    margin-left: 6rem;
    padding-top: 3rem;
    font-size: 2.5rem;
}

.main-container {
    position: relative;
    top: 28rem;
    left: -15rem;
}

.big-details {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px #ccc solid;
}

.city-date {
    margin-left: 3rem;
    padding-top: 1rem;
}
.date,
.condition {
    font-size: 2rem;
}

.icon {
    text-align: center;
    width: 10rem;
    height: 12rem;
}

.weather {
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
    padding-bottom: 2.3rem;
    text-align: center;
}

.forecast {
    margin-top: 2rem;
}

.forecast-header {
    font-size: 2.5rem;
}

#weather-forecast {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
}

.forecast-card {
    width: 15rem;
    padding: 1rem;
    background: rgba(110, 110, 110, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    text-align: center;
    margin-right: 2rem;
}


.search-container {
    position: absolute;
    height: 100vh;
    width: 30%;
    top: 0;
    right: 0;
    padding: 2rem;
    background: rgba(110, 110, 110, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    z-index: 1;
    padding: 3em 2em;
    overflow-Y: scroll;
}

form {
    width: 100%;
}

.submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 5.5rem;
    height: 5.5rem;
    padding: 1.18rem;
    margin: 0;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2rem;
    transition: 0.4s;
    background:rgba(204, 204, 204, 0.8);
    color:rgba(5, 5, 5, 0.8)
}

.search-city {
    position: absolute;
    top: 0;
    background: none;
    border: none;
    border-bottom: 1px #ccc solid;
    padding: 1.1rem 1rem 0.5rem 0;
    width: 83%;
    color: #fff;
    font-size: 2.5rem;
}

.search-city:focus {
    outline: none;
    background: none;
}

.search-city::placeholder {
    color: #ccc;
    text-transform: lowercase;
}

.search-container ul {
    padding: 0 0 1rem 0;
    margin: 2rem 0;
    border-bottom: 1px #ccc solid;
}

.cities {
    height: 48.5rem;
    overflow-y: scroll;
}

.city {
    padding-top: 3rem;
    font-size: 2rem;
}

.city:hover {
    text-decoration: underline;
    cursor: pointer;
}

.daily-details {
    position: relative;
    top: 9rem;
}

.weather-header {
    padding-bottom: 1rem;
}

.daily-details li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10rem;
}

.low-uv {
    background-color: rgb(4, 160, 4, .8);
}

.medium-uv {
    background-color: rgb(231, 189, 3, .8);
}

.high-uv {
    background-color: rgb(201, 0, 0, .8);
}